/*@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.contact{
  font-size: 50px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.contenido-contact{
  border: 0px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form{
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  height: 40px;
  width: 60%;   
  border-radius: 10px;
  border: none;
  border: 1px solid rgb(168, 168, 168);
  outline: none;
}

input:checked{
  border: 0px solid rgb(226, 55, 43);
}

.button1{
  height: 40px;
  width: 20%;
  border-radius: 10px;
  border: none;
  margin-bottom: 40px;
}

::placeholder{
  font-size: 13px;
  font-family: verdana;
}

.p1{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.contenido-form{
  border: 0px solid maroon;
  width: 50%;
  background-color: rgba(126, 126, 126, 0.322);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.p1{
  margin-right: 50%;
}
*/

section{
  display: flex;
  justify-content: center;
}

.contenido-section{
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.caja1{
  border: 0px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  position: relative;
  left: 100px;
  z-index: 100;
}

.cajaigual{
  border: 0px solid blue;
  display: flex;
  background-color: #2a2a2a;
  flex-direction: column;
  align-items: center;
  line-height: 2px;
  color: #fff;
}

.padd1{
  padding: 0px 20px;
}

.info{
  font-size: 18px;
  font-weight: 400;
  font-family: verdana;
}

.info2{
  font-size: 16px;
  font-family: cursive,verdana;
  color: rgb(182, 182, 182);
}

.caja2{
  border: 0px solid rgb(22, 220, 187);
  background-color: #595959;
  height: 600px;
  width: 60%;
}

.contenido-caja2{
  border: 0px solid darkblue;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  border: 0px solid firebrick;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input{
  padding: 15px 20px;
  margin-top: 40px;
  border: 1px solid rgb(111, 111, 111);
  border: none;
  outline: none;
}

.btn-message{
  background-color: #2a2a2a;
  width: 25%;
  height: 50px;
  border: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-family: verdana;
  font-weight: 500;
  margin-top: 40px;
}

.centrar-btn{
  display: flex;
  justify-content: center;
}

.input:focus{
  border: 1px solid rgb(30, 30, 30);
}

.contact{
  font-family: verdana;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  margin-bottom: -20px;
}